Tests: atomic
Depends: ceph-libboost-atomic1.82-dev, build-essential, cmake

Tests: chrono
Depends: ceph-libboost-chrono1.82-dev, ceph-libboost-system1.82-dev, build-essential, cmake

Tests: context
Depends: ceph-libboost-context1.82-dev, build-essential, cmake

Tests: container
Depends: ceph-libboost-container1.82-dev, ceph-libboost-system1.82-dev, build-essential, cmake

Tests: coroutine
Depends: ceph-libboost-coroutine1.82-dev, ceph-libboost-system1.82-dev, build-essential, cmake

Tests: datetime
Depends: ceph-libboost-date-time1.82-dev, build-essential, cmake

Tests: exception
Depends: ceph-libboost-exception1.82-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: fiber
Depends: ceph-libboost-fiber1.82-dev, build-essential, cmake

Tests: filesystem
Depends: ceph-libboost-filesystem1.82-dev, build-essential, cmake

Tests: graph
Depends: ceph-libboost-graph1.82-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: graph-parallel
Depends: ceph-libboost-graph-parallel1.82-dev, ceph-libboost-mpi1.82-dev, ceph-libboost-system1.82-dev, mpi-default-dev, build-essential, libgraph-easy-perl, cmake
Restrictions: allow-stderr

Tests: iostreams
Depends: ceph-libboost-iostreams1.82-dev, build-essential, cmake

Tests: locale
Depends: ceph-libboost-locale1.82-dev, build-essential, cmake

Tests: log
Depends: ceph-libboost-log1.82-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: math
Depends: ceph-libboost-math1.82-dev, build-essential, cmake

Tests: mpi
Depends: ceph-libboost-mpi1.82-dev, mpi-default-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: mpi-python
Depends: ceph-libboost-mpi-python1.82-dev, mpi-default-dev, python3-minimal
Restrictions: allow-stderr

Tests: program-options
Depends: ceph-libboost-program-options1.82-dev, build-essential, cmake

Tests: python
Depends: ceph-libboost-python1.82-dev, python3-minimal, cmake, build-essential, clang
Restrictions: allow-stderr

Tests: random
Depends: ceph-libboost-random1.82-dev, build-essential, cmake

Tests: regex
Depends: ceph-libboost-regex1.82-dev, build-essential, cmake, html2text

Tests: serialization
Depends: ceph-libboost-serialization1.82-dev, ceph-libboost-random1.82-dev, build-essential, cmake

Tests: stacktrace
Depends: ceph-libboost-stacktrace1.82-dev, ceph-libboost-system1.82-dev, build-essential, cmake

Tests: system
Depends: ceph-libboost-system1.82-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: test
Depends: ceph-libboost-test1.82-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: thread
Depends: ceph-libboost-thread1.82-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: timer
Depends: ceph-libboost-timer1.82-dev, build-essential, cmake

Tests: type-erasure
Depends: ceph-libboost-type-erasure1.82-dev, build-essential, cmake

Tests: wave
Depends: ceph-libboost-wave1.82-dev, ceph-libboost-thread1.82-dev, build-essential, cmake
